<p style="color: green"><%= notice %></p>

<h1>Stores</h1>

<%= link_to 'Nova importação', new_importation_path %>

<div id="stores">
  <% @stores.each do |store| %>
    <%= render store %>
    <%= render store.transactions %>
    Saldo: <%= store.balance %>
  <% end %>
</div>
