<p style="color: green"><%= notice %></p>

<h1>Stores</h1>

<div id="stores">
  <% @stores.each do |store| %>
    <%= render store %>
    <%= render store.transactions %>
    Saldo: <%= store.balance %>

  <% end %>
</div>

<br>

<%= render "importations/form" %>