<%= form_with(model: Importation.new) do |form| %>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
    <%= form.file_field(:content, accept: 'text/plain') %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
